<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="core.war.ResourceExtensions">
      <attribute
            icon="/core/common/images/school.png"
            idSpace="xxglxt"
            name="微信平台"
            order="21"
            uri="javascript:void(0)"
            uris=""
            type="module"
            parentId="">
      </attribute>
   </extension>  
   <extension
         id="com.wiiy.weixin.entity.Data"
         name="通讯数据"
         point="platform.base.bundle.HibernateExtension">
      <entity
            class="com.wiiy.weixin.entity.Data">
      </entity>
   </extension>
   
</plugin>
