<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<display-name>OlivaMail/Webmail</display-name>
  <servlet>
    <servlet-name>LogonServlet</servlet-name>
    <servlet-class>
        olivamail.webmail.LogonServlet
    </servlet-class>
  </servlet>    
  <servlet>    
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>
        olivamail.webmail.ListServlet
    </servlet-class>
  </servlet>
  <servlet>    
    <servlet-name>MessageServlet</servlet-name>
    <servlet-class>
        olivamail.webmail.MessageServlet
    </servlet-class>
  </servlet>
  <servlet>    
    <servlet-name>ComposeServlet</servlet-name>
    <servlet-class>
        olivamail.webmail.ComposeServlet
    </servlet-class>
  </servlet>  
  <servlet>    
    <servlet-name>SendServlet</servlet-name>
    <servlet-class>
        olivamail.webmail.SendServlet
    </servlet-class>
  </servlet>  
  <servlet>    
    <servlet-name>ErrorServlet</servlet-name>
    <servlet-class>
        olivamail.webmail.ErrorServlet
    </servlet-class>
  </servlet>  
  <servlet>    
    <servlet-name>AttachServlet</servlet-name>
    <servlet-class>
        olivamail.webmail.AttachServlet
    </servlet-class>
  </servlet>  
  <servlet>    
    <servlet-name>AddrFormServlet</servlet-name>
    <servlet-class>
        olivamail.webmail.AddrFormServlet
    </servlet-class>
  </servlet>    
  <servlet>    
    <servlet-name>AddrGetServlet</servlet-name>
    <servlet-class>
        olivamail.webmail.AddrGetServlet
    </servlet-class>
  </servlet>
  <servlet>    
    <servlet-name>HeadersServlet</servlet-name>
    <servlet-class>
        olivamail.webmail.HeadersServlet
    </servlet-class>
  </servlet>
  <servlet>    
    <servlet-name>SourceServlet</servlet-name>
    <servlet-class>
        olivamail.webmail.SourceServlet
    </servlet-class>
  </servlet>
  <servlet>    
    <servlet-name>TextpartServlet</servlet-name>
    <servlet-class>
        olivamail.webmail.TextpartServlet
    </servlet-class>
  </servlet>  
  <servlet>
    <servlet-name>PdaLogonServlet</servlet-name>
    <servlet-class>
        olivamail.webmail.PdaLogonServlet
    </servlet-class>
  </servlet>
  <servlet>    
    <servlet-name>PdaListServlet</servlet-name>
    <servlet-class>
        olivamail.webmail.PdaListServlet
    </servlet-class>
  </servlet>
  <servlet>    
    <servlet-name>PdaMessageServlet</servlet-name>
    <servlet-class>
        olivamail.webmail.PdaMessageServlet
    </servlet-class>
  </servlet>
  <servlet>    
    <servlet-name>PdaComposeServlet</servlet-name>
    <servlet-class>
        olivamail.webmail.PdaComposeServlet
    </servlet-class>
  </servlet>  
  <servlet>    
    <servlet-name>PdaSendServlet</servlet-name>
    <servlet-class>
        olivamail.webmail.PdaSendServlet
    </servlet-class>
  </servlet>  
  <servlet>    
    <servlet-name>PdaErrorServlet</servlet-name>
    <servlet-class>
        olivamail.webmail.PdaErrorServlet
    </servlet-class>
  </servlet>  
  <servlet>    
    <servlet-name>PdaTextpartServlet</servlet-name>
    <servlet-class>
        olivamail.webmail.PdaTextpartServlet
    </servlet-class>
  </servlet>      
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>
        olivamail.webmail.AdminServlet
    </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AcntFormServlet</servlet-name>
    <servlet-class>
        olivamail.webmail.AcntFormServlet
    </servlet-class>
  </servlet>    
  <servlet>
    <servlet-name>AcntListServlet</servlet-name>
    <servlet-class>
        olivamail.webmail.AcntListServlet
    </servlet-class>
  </servlet>  
  <servlet>
    <servlet-name>DomFormServlet</servlet-name>
    <servlet-class>
        olivamail.webmail.DomFormServlet
    </servlet-class>
  </servlet>  
  <servlet>
    <servlet-name>DomListServlet</servlet-name>
    <servlet-class>
        olivamail.webmail.DomListServlet
    </servlet-class>
  </servlet>        
  <servlet>
    <servlet-name>SchemaServlet</servlet-name>
    <servlet-class>
        olivamail.webmail.SchemaServlet
    </servlet-class>
  </servlet>          
  <servlet>
    <servlet-name>UserFormServlet</servlet-name>
    <servlet-class>
        olivamail.webmail.UserFormServlet
    </servlet-class>
  </servlet>  
  <servlet>
    <servlet-name>UserListServlet</servlet-name>
    <servlet-class>
        olivamail.webmail.UserListServlet
    </servlet-class>
  </servlet>  
  <servlet-mapping>
      <servlet-name>LogonServlet</servlet-name>
      <url-pattern>/logon</url-pattern>
  </servlet-mapping>        
  <servlet-mapping>  
      <servlet-name>ListServlet</servlet-name>
      <url-pattern>/list</url-pattern>      
  </servlet-mapping>  
  <servlet-mapping>  
      <servlet-name>MessageServlet</servlet-name>
      <url-pattern>/message</url-pattern>      
  </servlet-mapping>  
  <servlet-mapping>  
      <servlet-name>ComposeServlet</servlet-name>
      <url-pattern>/compose</url-pattern>      
  </servlet-mapping>  
  <servlet-mapping>  
      <servlet-name>SendServlet</servlet-name>
      <url-pattern>/send</url-pattern>      
  </servlet-mapping>  
  <servlet-mapping>  
      <servlet-name>ErrorServlet</servlet-name>
      <url-pattern>/error</url-pattern>      
  </servlet-mapping>
  <servlet-mapping>  
      <servlet-name>AttachServlet</servlet-name>
      <url-pattern>/attach</url-pattern>      
  </servlet-mapping>
  <servlet-mapping>  
      <servlet-name>AttachServlet</servlet-name>
      <url-pattern>/attach/*</url-pattern>      
  </servlet-mapping>
  <servlet-mapping>  
      <servlet-name>AddrFormServlet</servlet-name>
      <url-pattern>/addr_form</url-pattern>      
  </servlet-mapping>  
  <servlet-mapping>  
      <servlet-name>AddrGetServlet</servlet-name>
      <url-pattern>/addr_get</url-pattern>      
  </servlet-mapping>  
  <servlet-mapping>  
      <servlet-name>HeadersServlet</servlet-name>
      <url-pattern>/headers</url-pattern>      
  </servlet-mapping>  
  <servlet-mapping>  
      <servlet-name>SourceServlet</servlet-name>
      <url-pattern>/source</url-pattern>      
  </servlet-mapping>
  <servlet-mapping>  
      <servlet-name>TextpartServlet</servlet-name>
      <url-pattern>/textpart</url-pattern>      
  </servlet-mapping>   
  <servlet-mapping>
      <servlet-name>PdaLogonServlet</servlet-name>
      <url-pattern>/pda_logon</url-pattern>
  </servlet-mapping>        
  <servlet-mapping>  
      <servlet-name>PdaListServlet</servlet-name>
      <url-pattern>/pda_list</url-pattern>      
  </servlet-mapping>  
  <servlet-mapping>  
      <servlet-name>PdaMessageServlet</servlet-name>
      <url-pattern>/pda_message</url-pattern>      
  </servlet-mapping>  
  <servlet-mapping>  
      <servlet-name>PdaComposeServlet</servlet-name>
      <url-pattern>/pda_compose</url-pattern>      
  </servlet-mapping>  
  <servlet-mapping>  
      <servlet-name>PdaSendServlet</servlet-name>
      <url-pattern>/pda_send</url-pattern>      
  </servlet-mapping>  
  <servlet-mapping>  
      <servlet-name>PdaErrorServlet</servlet-name>
      <url-pattern>/pda_error</url-pattern>      
  </servlet-mapping>
  <servlet-mapping>  
      <servlet-name>PdaTextpartServlet</servlet-name>
      <url-pattern>/pda_textpart</url-pattern>      
  </servlet-mapping>        
  <servlet-mapping>
      <servlet-name>AdminServlet</servlet-name>
      <url-pattern>/admin</url-pattern>
  </servlet-mapping>            
  <servlet-mapping>
      <servlet-name>AcntFormServlet</servlet-name>
      <url-pattern>/acnt_form</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
      <servlet-name>AcntListServlet</servlet-name>
      <url-pattern>/acnt_list</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
      <servlet-name>DomFormServlet</servlet-name>
      <url-pattern>/dom_form</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
      <servlet-name>DomListServlet</servlet-name>
      <url-pattern>/dom_list</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
      <servlet-name>UserFormServlet</servlet-name>
      <url-pattern>/user_form</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
      <servlet-name>UserListServlet</servlet-name>
      <url-pattern>/user_list</url-pattern>
  </servlet-mapping>      
  <servlet-mapping>
      <servlet-name>SchemaServlet</servlet-name>
      <url-pattern>/schema</url-pattern>
  </servlet-mapping>  
  
  
  
    <filter>
        <filter-name>accessControllerFilter</filter-name>
        <filter-class>
            com.wiiy.core.security.SecurityFilter
        </filter-class>
        <init-param>
            <param-name>activatorClass</param-name>
            <param-value>com.wiiy.oa.activator.OaActivator</param-value>
        </init-param>
        <init-param>
            <param-name>freeAccess</param-name>
            <param-value>/parkmanager.oa/task!myPendingTaskCount.action /parkmanager.oa/schedule!promotCount.action</param-value>
        </init-param>
    </filter>

	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>
			org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
		</filter-class>
		<init-param>   
			<param-name>config</param-name>   
			<param-value>struts-default.xml,struts-plugin.xml,/WEB-INF/struts.xml</param-value>  
		</init-param> 
	</filter>
	
    <filter-mapping>
    	<filter-name>accessControllerFilter</filter-name>
		<url-pattern>*.action</url-pattern>		
    </filter-mapping>
    <filter-mapping>
    	<filter-name>accessControllerFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>		
    </filter-mapping>

	<!-- struts2用以处理用户Web请求的路径模式-->
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring.xml /WEB-INF/applicationContext.xml</param-value>
	</context-param>
	<context-param>
		<param-name>contextClass</param-name>
		<param-value>org.springframework.osgi.web.context.support.OsgiBundleXmlWebApplicationContext</param-value>
	</context-param>
	
	<listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
	  <listener>
    	<listener-class>com.wiiy.oa.listener.InitListener</listener-class>
    </listener>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	
</web-app>
