<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>东昌府区教育信息</title>
<link href="img/style.css" type="text/css" rel="stylesheet" />
<script src="img/chinaz.js" type="text/javascript"></script>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
-->
</style></head>
<body>
<table width="980" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
	<div class="nav">
<div class="navinner">
  <ul class="navlist">
  <li><a href="http://www.dcfedu.net" id="nav_1" target="_blank" onmouseover="showMenu('nav_1','subnav1')">首页</a>
    <div class="subnav disable" id="subnav1">

      <p class="pointer">.</p>
      <p><span>
      <a href="#" target="_blank">栏目</a> |
      <a href="#" target="_blank">栏目</a> |
      <a href="#" target="_blank">栏目</a> |
      <a href="#" target="_blank">栏目</a>
      </span></p>
    </div>  
  </li>
  <li><a href="http://www.dcfedu.net/news/class/" id="nav_2" target="_blank" onmouseover="showMenu('nav_2','subnav2')">教育资讯</a>
    <div class="subnav disable" id="subnav2">

      <p class="pointer">.</p>
      <p><span>
      <a href="#" target="_blank">栏目</a> |
      <a href="#" target="_blank">栏目</a> |
      <a href="#" target="_blank">栏目</a> |
      <a href="#" target="_blank">栏目</a>
      </span></p>
    </div>  
  </li>
  <li><a href="http://www.dcfedu.net/page/jigou/index.php" id="nav_3" target="_blank" onmouseover="showMenu('nav_3','subnav3')">机构设置</a>
    <div class="subnav disable" id="subnav3">
    	<p class="pointer">.</p>
      <p><span>
      <a href="#" target="_blank">栏目</a> |
      <a href="#" target="_blank">栏目</a> |
      <a href="#" target="_blank">栏目</a>
      </span></p>
    </div>
  </li>
  <li><a href="http://www.dcfedu.net/jywj/class/" id="nav_4" target="_blank" onmouseover="showMenu('nav_4','subnav4')">教育文件</a>
    <div class="subnav disable" id="subnav4">
      <p class="pointer">.</p>
      <p><span>
      <a href="#" target="_blank">栏目</a> |
      <a href="#" target="_blank">栏目</a> |
      <a href="#" target="_blank">栏目</a> |
      <a href="#" target="_blank">栏目</a> |
      <a href="#" target="_blank">栏目</a>
      </span></p>
    </div>  	
  </li>
  <li><a href="http://www.dcfedu.net/zwgk/class/" id="nav_5" target="_blank" onmouseover="showMenu('nav_5','subnav5')">政务公开</a>
    <div class="subnav disable" id="subnav5">
      <p class="pointer">.</p>
      <p><span>
      <a href="#" target="_blank">栏目</a> |
      <a href="#" target="_blank">栏目</a> |
      <a href="#" target="_blank">栏目</a> |
      <a href="#" target="_blank">栏目</a>
      </span></p>
    </div>  
  </li>
  <li><a href="http://www.dcfedu.net/xzzn/class/" id="nav_6" target="_blank" onmouseover="showMenu('nav_6','subnav6')">行政职能</a>
    <div class="subnav disable" id="subnav6">
      <p class="pointer">.</p>
      <p><span>
      <a href="#" target="_blank">栏目</a> |
      <a href="#" target="_blank">栏目</a> |
      <a href="#" target="_blank">栏目</a> |
      <a href="#" target="_blank">栏目</a> |
      <a href="#" target="_blank">栏目</a> |
      <a href="#" target="_blank">栏目</a> |
      <a href="#" target="_blank">栏目</a>
      </span></p>
    </div>  
  </li>
  <li><a href="http://www.dcfedu.net/zsks/class/" id="nav_7" target="_blank" onmouseover="showMenu('nav_7','subnav7')">招生考试</a>
    <div class="subnav disable" id="subnav7">
      <p class="pointer">.</p>
      <p><span>
      <a href="#" target="_blank">栏目</a> |
      <a href="#" target="_blank">栏目</a>
      </span></p>
    </div>
  </li>
  <li><a href="http://www.dcfedu.net/page/ssxx/index.php" id="nav_8" target="_blank" onmouseover="showMenu('nav_8','subnav8')">所属学校</a>
    <div class="subnav disable" id="subnav8">
      <p class="pointer">.</p>
      <p><span>
      <a href="#" target="_blank">栏目</a> |
      <a href="#" target="_blank">栏目</a>
      </span></p>
    </div>  
  </li>
    <li><a href="http://www.dcfedu.cn" id="nav_9" target="_blank" onmouseover="showMenu('nav_9','subnav9')">下载中心</a>
    <div class="subnav disable" id="subnav9">
      <p class="pointer">.</p>
      <p><span>
      <a href="#" target="_blank">栏目</a> |
      <a href="#" target="_blank">栏目</a> |
      <a href="#" target="_blank">栏目</a> |
      <a href="#" target="_blank">栏目</a> |
      <a href="#" target="_blank">栏目</a> |
      <a href="#" target="_blank">栏目</a> |
      <a href="#" target="_blank">栏目</a>
      </span></p>
    </div>  
  </li>
  </ul>
</div>  
</div>
</div>
	</td>
  </tr>
</table>
</body>
</html>

