<link href="images/style.css" rel="stylesheet" type="text/css">
 
<table width="1000"  border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td height="35" background="images/in_top_bg.jpg"><table width="100%"  border="0" cellspacing="0" cellpadding="5">
        <tr>
          <td width="60%"><!-menu->
              <div align="left">
                <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td><div align="left">{#modLoginForm#}
                            <!-menu->
                    </div></td>
                  </tr>
                </table>
              </div>
              <!-menunow->
              <!-menunow-></td>
          <td width="40%"><font color="#1F3A87">
            <div align="right"><a href="#" class="in_top" onClick="window.external.addFavorite('{#ownerurl#}','{#owner#}')" ><a href=# style="color:#1F3A87" onClick=window.external.addFavorite('http://www.dcfedu.net','东昌府区教育信息网') target=_self title=东昌府区教育信息网>收藏本站</a>  | <a href=# onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://www.dcfedu.net');" style="color:#1F3A87">设为首页</a>   | <a href="../../member.php" class="in_top">会员中心</a> | <a href="member_fabu.php" class="in_top">我要投稿</a> | <a href="#" class="in_top">RSS订阅</a></div>
          </font></td>
        </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%"  border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="227" height="84"><div align="center"><a href="../../index.php">{#modLogo#}</a></div></td>
          <td width="470"><div align="center"> {#Advs[2][470*62]#}</div></td>
          <td width="303"><div align="center">
              <table width="285" height="62"  border="0" cellpadding="3" cellspacing="1" bgcolor="AACCEE">
                <tr>
                  <td bgcolor="F2F6FB"><div align="left">{#modNewsList-5#}</div></td>
                </tr>
              </table>
          </div></td>
        </tr>
    </table></td>
  </tr>
  <tr>
    <td height="36"><div align="center">
        <table width="980" height="35"  border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td width="19"><img src="images/in_menu_01.gif" width="19" height="36"></td>
            <td width="954" background="images/in_menu_02.gif">{#modMainMenu#}</td>
            <td width="10"><img src="images/in_menu_03.gif" width="19" height="36"></td>
          </tr>
        </table>
    </div></td>
  </tr>
  <tr>
    <td height="30"><div align="center">{#modNewsMenu#}</div></td>
  </tr>
</table>
<table width="1000"  border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td height="43"><div align="center">
        <table width="980" border="0" cellspacing="0" cellpadding="0" id="tab_2">
          <tr>
            <td><div align="center">
                <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td class=nav>{#lanLocat#}:<a class=nav href="../../">{#SiteName#}</a> &gt; {#lanFriLink#}
                      <div align="right"> </div></td></tr>
                </table>
            </div></td>
          </tr>
        </table>
    </div></td>
  </tr>
  <tr>
    <td><div align="center">
        <table width="980"  border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="194" valign="top"><table width="194" border="0" cellspacing="0" cellpadding="0" id="tab_1">
                <tr>
                  <td height="26" background="images/tab_1t.jpg"><table cellspacing=0 cellpadding=0 width=180 border=0>
                      <tbody>
                        <tr>
                          <td width=8></td>
                          <td class="tittle_12"> {#lanColGuide#}</td>
                        </tr>
                      </tbody>
                  </table></td>
                </tr>
                <tr>
                  <td><table cellspacing=3 cellpadding=2 width="98%" align=center border=0>
                      <tbody>
                        <tr>
                          <td valign=top >{#modSecondMenuV#}</td>
                        </tr>
                      </tbody>
                  </table></td>
                </tr>
            </table></td>
            <td width="9">&nbsp;</td>
            <td width="777" valign="top"><table width="777" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td><table height=200 cellspacing=0 cellpadding=0 width="100%" border=0>
                      <tbody>
                        <tr valign=top>
                          <td><table cellspacing=0 cellpadding=0 width="100%" align=center  border=0 background="images/centerbg.gif" >
                            <tbody>
                              <tr>
                                <td valign=top height=200>
                                  <table cellspacing=0 cellpadding=0 width="100%" align=center border=0>
                                    <tbody>
                                      <tr>
                                        <td><div class="box"><h1>Logo链接</h1></div></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <table height=100 cellspacing=5 cellpadding=0 width="100%" border=0>
                                    <tbody>
                                      <tr valign=top>
                                        <td>{#modLinkPic#}</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <table cellspacing=0 cellpadding=0 width="100%" align=center border=0>
                                    <tbody>
                                      <tr>
                                        <td><div class="box"><h1>其它</h1></div></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <table height=100 cellspacing=5 cellpadding=0 width="100%" border=0>
                                    <tbody>
                                      <tr valign=top>
                                        <td>{#modLinkText#}</td>
                                      </tr>
                                    </tbody>
                                </table></td>
                              </tr>
                            </tbody>
                          </table></td>
                        </tr>
                      </tbody>
                  </table></td>
                </tr>
            </table></td>
          </tr>
        </table>
    </div></td>
  </tr>
  <tr>
    <td height="20"></td>
  </tr>
</table>
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td><div align="center">
        <table width="980" border="0" cellspacing="0" cellpadding="0" id="tab_2">
          <tr>
            <td><div align="center">{#modBottomMenu#}</div></td>
          </tr>
        </table>
    </div></td>
  </tr>
  <tr>
    <td><div align="center">
        <table width="980" border="0" cellspacing="0" cellpadding="5">
          <tr>
            <td><div align="center"><font color="#333333">{#modButtomInfo#}</font></div></td>
          </tr>
          <tr>
            <td><div align="center"><font color="#000000">{#modShowCount#}</font></div></td>
          </tr>
        </table>
    </div></td>
  </tr>
</table>
