<link href="images/style.css" rel="stylesheet" type="text/css">
 
<table width="990" border="0" cellspacing="0" cellpadding="0" height="109" align="center" bgcolor="#FFFFFF" background="images/topbg.gif" >
  <tr> 
    <td align="center" width="220">{#modLogo#}</td>
    <td align="center" valign="bottom" > 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" height="29" background="images/menubg.gif" >
        <tr> 
          <td>{#modMainMenu#}</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table cellspacing=0 cellpadding=0 width="990" border=0 align="center" height="25" background="images/smenubg.gif">
  <tbody> 
  <tr> 
    <td width="220" align="center">&nbsp;</td>
    <td>{#modNewsMenu#}</td>
  </tr>
  </tbody> 
</table>
<table cellspacing=0 cellpadding=0 width="990" border=0 align="center" height="3" background="images/line1.gif">
  <tbody> 
  <tr valign=top> 
    <td></td>
  </tr>
  </tbody> 
</table>
<TABLE cellSpacing=0 cellPadding=0 width="990" align=center border=0 background="images/centerbg.gif"  >
  <TBODY> 
  <TR vAlign=top> 
    <TD> 
      <table height=43 cellspacing=0 cellpadding=0 width="100%" background=images/centertitle.gif border=0>
        <tbody> 
        <tr> 
          <td> 
            <table cellspacing=0 cellpadding=0 width="100%" border=0>
              <tbody> 
              <form name="search" action="../class/">
                <tr> 
                  <td width="80" align="center"> {#lanInerSearch#}:</td>
                  <td> 
                    <input type="text" name="key" class="input" value="{#key#}" size="38">
                    <input type="submit" name="Submit" value="{#lanSearch#}" class="button">
                  </td>
                </tr>
              </form>
              </tbody> 
            </table>
          </td>
        </tr>
        </tbody> 
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" height="200">
        <tr> 
          <td>&nbsp;</td>
        </tr>
      </table>
    </TD>
  </TR>
  </TBODY>
</TABLE>
<table cellspacing=0 cellpadding=0 width="990" border=0 align="center" height="29" background="images/btmenubg.gif">
  <tbody> 
  <tr> 
    <td colspan="2" align="center">{#modBottomMenu#}</td>
  </tr>
  </tbody> 
</table>
<table width="990" border="0" cellspacing="0" cellpadding="8" align="center" background="images/bottombg.gif">
  <tr align="center" bgcolor="#E6E6E6"> 
    <td  height="1"></td>
  </tr>
  <tr align="center"> 
    <td  height="60"><font color="#333333">{#modButtomInfo#}</font></td>
  </tr>
  <tr align="center"> 
    <td  height="50"><font color="#000000"> {#modShowCount#}</font></td>
  </tr>
</table>
