<link href="images/style.css" rel="stylesheet" type="text/css">
 
<table width="1000"  border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td><table width="100%"  border="0" align="center" cellpadding="5" cellspacing="0" class="in_toptable">
        <tr>
          <td width="60%" class="memberinfo" style="padding-left:20px; font-size:12px;">{#lanMemberWelcome#} <A style="FONT-SIZE: 12px" href="logout.php">{#lanMemberExit#}</A></td>
          <td width="40%" style="text-align:right; padding-right:20px;"><script src="../js/now.js"></script></td>
        </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%"  border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="227" height="84"><div align="center"><a href="index.php">{#modLogo#}</a></div></td>
          <td width="470"><div align="center"> {#Advs[2][470*62]#}</div></td>
          <td width="303"><div align="center">
              <table width="285" height="62"  border="0" cellpadding="3" cellspacing="1" bgcolor="AACCEE">
                <tr>
                  <td bgcolor="F2F6FB"><div align="left">{#modNewsList-5#}</div></td>
                </tr>
              </table>
          </div></td>
        </tr>
    </table></td>
  </tr>
  <tr>
    <td height="36"><div align="center">
        <table width="980" height="35"  border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td width="19"><img src="images/in_menu_01.gif" width="19" height="36"></td>
            <td width="954" background="images/in_menu_02.gif">{#modMainMenu#}</td>
            <td width="10"><img src="images/in_menu_03.gif" width="19" height="36"></td>
          </tr>
        </table>
    </div></td>
  </tr>
</table>
<div align="center">
  <table width="100%"  border="0" cellspacing="0" cellpadding="0" class="body_table">
    <tr>
      <td><table width="100%"  border="0" cellspacing="0" cellpadding="0" class="mem_tb">
          <tr>
            <td width="218" valign="top" class="mem_td"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td height="30" bgcolor="EAF3FB" style="text-indent:1em;">{#lanMemberMenu#}</td>
                </tr>
                <tr>
                  <td><table width="98%" height=120 border=0 align=center cellpadding=2 cellspacing=2>
                      <tbody>
                        <tr>
                          <td valign=top>{#modMemberMenu#}</td>
                        </tr>
                      </tbody>
                  </table></td>
                </tr>
            </table></td>
            <td width="762" valign="top"><table height=26 cellspacing=0 cellpadding=0 width="100%" align=center border=0>
                <tbody>
                  <tr>
                    <td class=nav>{#lanLocat#}:<a href="../../" class="nav">{#SiteName#}</a> &gt; <a href="member.php" class="nav">{#lanMemberCenter#}</a> &gt; {#PageTitle#}</td>
                  </tr>
                </tbody>
              </table>
              <table width=100% align=center cellpadding=3 cellspacing=1 height="200">
                <tr valign="top">
                  <td  height=72 valign="top"> {#MemberNews#}</td>
                </tr>
              </table></td>
          </tr>
      </table></td>
    </tr>
  </table>
</div>
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td><div align="center">
        <table width="980" border="0" cellspacing="0" cellpadding="0" id="tab_2">
          <tr>
            <td><div align="center">{#modBottomMenu#}</div></td>
          </tr>
        </table>
    </div></td>
  </tr>
  <tr>
    <td><div align="center">
        <table width="980" border="0" cellspacing="0" cellpadding="5">
          <tr>
            <td><div align="center"><font color="#333333">{#modButtomInfo#}</font></div></td>
          </tr>
          <tr>
            <td><div align="center"><font color="#000000">{#modShowCount#}</font></div></td>
          </tr>
        </table>
    </div></td>
  </tr>
</table>
