<link href="images/style.css" rel="stylesheet" type="text/css"><link rel=stylesheet type=text/css href="images/style.css"><link rel=stylesheet type=text/css href="images/style.css"><link rel=stylesheet type=text/css href="images/style.css">
<table border=0 cellSpacing=0 cellPadding=0 width=1000 bgColor=#ffffff align=center>
<tbody>
<tr>
<td height=35 background=images/in_top_bg.jpg>
<table border=0 cellSpacing=0 cellPadding=5 width="100%">
<tbody>
<tr>
<td width="60%"><!-menu->
<div align=left>
<table border=0 cellSpacing=0 cellPadding=0 width="100%">
<tbody>
<tr>
<td>
<div align=left>{#modLoginForm#} <!-menu-></div></td></tr></tbody></table></div><!-menunow-><!-menunow-></td>
<td width="40%"><font color=#1f3a87>
<div align=right><a class=in_top onclick="window.external.addFavorite('{#ownerurl#}','{#owner#}')" href="#"><a style="COLOR: #1f3a87" title=东昌府区教育信息网 onclick="window.external.addFavorite('http://www.dcfedu.net','东昌府区教育信息网')" href="#" target=_self>收藏本站</a> | <a style="COLOR: #1f3a87" onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://www.dcfedu.net');" href="#">设为首页</a> | <a class=in_top href="../../member.php">会员中心</a> | <a class=in_top href="../../member_fabu.php">我要投稿</a> | <a class=in_top href="#">RSS订阅</a></div></font></td></tr></tbody></table></td></tr>
<tr>
<td>
<table border=0 cellSpacing=0 cellPadding=0 width="100%">
<tbody>
<tr>
<td height=36>
<div align=center>
<table border=0 cellSpacing=0 cellPadding=0 width=980 height=35>
<tbody>
<tr>
<td width=19>
<div align=center>{#modLogo#}</div></td></tr></tbody></table></div></td></tr></tbody></table></td></tr>
<tr>
<td height=36>
<div align=center>
<table border=0 cellSpacing=0 cellPadding=0 width=980 height=35>
<tbody>
<tr>
<td width=19><img src="images/in_menu_01.gif" width=19 height=36 /></td>
<td background=images/in_menu_02.gif width=954>{#modMainMenu#}</td>
<td width=10><img src="images/in_menu_03.gif" width=19 height=36 /></td></tr></tbody></table></div></td></tr>
<tr>
<td height=30>
<div align=center>{#modNewsMenu#}</div></td></tr></tbody></table>
<table border=0 cellSpacing=0 cellPadding=0 width=1000 bgColor=#ffffff align=center>
<tbody>
<tr>
<td height=43>
<div align=center>
<table id=tab_2 border=0 cellSpacing=0 cellPadding=0 width=980>
<tbody>
<tr>
<td>
<div align=center>
<table border=0 cellSpacing=0 cellPadding=0 width="100%">
<tbody>
<tr>
<td class=nav><strong>{#lanLocat#}：</strong> <a class=nav href="../../">{#SiteName#}</a> &gt; <a class=nav href="../class/">{#NowMenu#}</a> {#modNavPath#} &gt; {#NewsTitle#} 
<div align=right></div></td></tr></tbody></table></div></td></tr></tbody></table></div></td></tr>
<tr>
<td>
<div align=center>
<table border=0 cellSpacing=0 cellPadding=0 width=980>
<tbody>
<tr>
<td vAlign=top width=194>
<table id=tab_1 border=0 cellSpacing=0 cellPadding=0 width=194>
<tbody>
<tr>
<td height=26 background=images/tab_1t.jpg>
<table border=0 cellSpacing=0 cellPadding=0 width=180>
<tbody>
<tr>
<td width=8></td>
<td class=tittle_12>{#lanColGuide#}</td></tr></tbody></table></td></tr>
<tr>
<td>
<table border=0 cellSpacing=3 cellPadding=2 width="98%" align=center>
<tbody>
<tr>
<td vAlign=top>{#modSecondMenuV#}</td></tr></tbody></table></td></tr></tbody></table></td>
<td width=9>&nbsp;</td>
<td vAlign=top width=777>
<table id=ta04 border=0 cellSpacing=0 cellPadding=0 width=777>
<tbody>
<tr>
<td>
<table border=0 cellSpacing=5 cellPadding=0 width="100%" height=200>
<tbody>
<tr vAlign=top>
<td>{#modEdit#}</td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table></div></td></tr>
<tr>
<td height=20></td></tr></tbody></table>
<table border=0 cellSpacing=0 cellPadding=0 width=1000 bgColor=#ffffff align=center>
<tbody>
<tr>
<td>
<div align=center>
<table id=tab_2 border=0 cellSpacing=0 cellPadding=0 width=980>
<tbody>
<tr>
<td>
<div align=center>{#modBottomMenu#}</div></td></tr></tbody></table></div></td></tr>
<tr>
<td>
<div align=center>
<table border=0 cellSpacing=0 cellPadding=5 width=980>
<tbody>
<tr>
<td>
<div align=center><font color=#333333>{#modButtomInfo#}</font></div></td></tr>
<tr>
<td>
<div align=center><font color=#000000>{#modShowCount#}</font></div></td></tr></tbody></table></div></td></tr></tbody></table>