<html>
<head>
<title>{#PageTitle#}</title>
<META http-equiv="Content-Type" content="text/html; charset={#charset#}">
<META content="{#PageMetakey#}" name=keywords>
<META content="{#PageMetacon#}" name=description>
<style>
body,td       {color: #666666; font-size: 12.00px;  line-height:130%;} 
p,font,li     {line-height:130%;}
select        {font-size: 12px;}
A:link        {TEXT-DECORATION: none;}
A:visited     {TEXT-DECORATION: none;}
A:active      {TEXT-DECORATION: none;}
A:hover       {TEXT-DECORATION: none;}
</style>
</head>
<body leftmargin=0 topmargin=0 marginwidth=0 marginheight=0 bgcolor="#FFFFFF">
{#Content#} 
</body></html>
