<link href="images/style.css" rel="stylesheet" type="text/css">

<table width="1000"  border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td height="35" background="images/in_top_bg.jpg"><table width="100%"  border="0" cellspacing="0" cellpadding="5">
        <tr>
          <td width="60%"><!-menu->
              <div align="left">
                <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td><div align="left">{#modLoginForm#}
                            <!-menu->
                    </div></td>
                  </tr>
                </table>
              </div>
              <!-menunow->
              <!-menunow-></td>
          <td width="40%"><font color="#1F3A87">
            <div align="right"><a href="#" class="in_top" onClick="window.external.addFavorite('{#ownerurl#}','{#owner#}')" >加入收藏</a> | <a href="#" class="in_top" onClick="this.style.behavior='url(#default#homepage)';this.setHomePage('{#ownerurl#}');">设为首页</a> | <a href="member.php" class="in_top">会员中心</a> | <a href="member_fabu.php" class="in_top">我要投稿</a> | <a href="#" class="in_top">RSS订阅</a></div>
          </font></td>
        </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%"  border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="227" height="84"><div align="center"><a href="index.php">{#modLogo#}</a></div></td>
          <td width="470"><div align="center"> {#Advs[2][470*62]#}</div></td>
          <td width="303"><div align="center">
              <table width="285" height="62"  border="0" cellpadding="3" cellspacing="1" bgcolor="AACCEE">
                <tr>
                  <td bgcolor="F2F6FB"><div align="left">{#modNewsList-5#}</div></td>
                </tr>
              </table>
          </div></td>
        </tr>
    </table></td>
  </tr>
  <tr>
    <td height="36"><div align="center">
        <table width="980" height="35"  border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td width="19"><img src="images/in_menu_01.gif" width="19" height="36"></td>
            <td width="954" background="images/in_menu_02.gif">{#modMainMenu#}</td>
            <td width="10"><img src="images/in_menu_03.gif" width="19" height="36"></td>
          </tr>
        </table>
    </div></td>
  </tr>
  <tr>
    <td height="30"><div align="center">{#modNewsMenu#}</div></td>
  </tr>
</table>
<table width="1000"  border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td height="43"><div align="center">
        <table width="980" border="0" cellspacing="0" cellpadding="0" id="tab_2">
          <tr>
            <td><div align="center">
                <table cellspacing=0 cellpadding=0 width="100%" border=0>
                  <tbody>
                  <form name="search" action="./index.php">
                    <tr>
                      <td width="619" align="center"> <div align="right"><strong>{#lanSiteSearch#}：</strong></div></td>
                      <td width="359">
                        <input type="text" name="key" class="input" value="{#key#}" size="38">
                        <select name="type">
                          <option value="news">{#lanArtical#}</option>
                          <option value="cp">{#lanPic#}</option>
                          <option value="down">{#lanDownload#}</option>
                          <option value="bbs">{#lanBBS#}</option>
                        </select>
                        <input type="submit" name="Submit" value="{#lanSearch#}" class="button">
                      </td>
                    </tr>
                  </form>
                </table>
            </div></td>
          </tr>
        </table>
    </div></td>
  </tr>
  <tr>
    <td><div align="center">
      <TABLE cellSpacing=0 cellPadding=0 width="980" align=center border=0 background="images/centerbg.gif" >
        <TR vAlign=top>
          <TD>
            <TABLE cellSpacing=3 cellPadding=3 width="100%" border=0 height="200">
              <TBODY>
                <TR vAlign=top>
                  <TD height=80>
                    <p>{#modSearch#}</p></TD>
                </TR>
              </TBODY>
            </TABLE>
            <table height=43 cellspacing=0 cellpadding=4 width="100%" align=center background=images/showpage.gif border=0>
              <tbody>
                <tr>
                  <td class=pagesinfo width=300>{#PagesInfo#}</td>
                  <td class=pages align=right>{#ShowPages#}</td>
                </tr>
              </tbody>
          </table></TD>
        </TR>
      </TABLE>
        </div></td>
  </tr>
  <tr>
    <td height="20"></td>
  </tr>
</table>
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td><div align="center">
      <table width="980" border="0" cellspacing="0" cellpadding="0" id="tab_2">
        <tr>
          <td><div align="center">{#modBottomMenu#}</div></td>
        </tr>
      </table>
    </div></td>
  </tr>
  <tr>
    <td><div align="center">
      <table width="980" border="0" cellspacing="0" cellpadding="5">
        <tr>
          <td><div align="center"><font color="#333333">{#modButtomInfo#}</font></div></td>
        </tr>
        <tr>
          <td><div align="center"><font color="#000000">{#modShowCount#}</font></div></td>
        </tr>
      </table>
    </div></td>
  </tr>
</table>
