<link href="images/style.css" rel="stylesheet" type="text/css">
 
<table width="1000"  border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td><table width="100%"  border="0" align="center" cellpadding="5" cellspacing="0" class="in_toptable">
      <tr>
        <td width="60%" class="memberinfo" style="padding-left:20px; font-size:12px;">{#MemberUser#},{#lanMemberWelcome#} 
                  <A style="FONT-SIZE: 12px" href="logout.php">{#lanMemberExit#}</A></td>
        <td width="40%" style="text-align:right; padding-right:20px;"><script src="../js/now.js"></script></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%"  border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="227" height="84"><div align="center"><a href="index.php">{#modLogo#}</a></div></td>
          <td width="470"><div align="center"> {#Advs[2][470*62]#}</div></td>
          <td width="303"><div align="center">
              <table width="285" height="62"  border="0" cellpadding="3" cellspacing="1" bgcolor="AACCEE">
                <tr>
                  <td bgcolor="F2F6FB"><div align="left">{#modNewsList-5#}</div></td>
                </tr>
              </table>
          </div></td>
        </tr>
    </table></td>
  </tr>
  <tr>
    <td height="36"><div align="center">
        <table width="980" height="35"  border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td width="19"><img src="images/in_menu_01.gif" width="19" height="36"></td>
            <td width="954" background="images/in_menu_02.gif">{#modMainMenu#}</td>
            <td width="10"><img src="images/in_menu_03.gif" width="19" height="36"></td>
          </tr>
        </table>
    </div></td>
  </tr>
</table><div align="center">
<table width="100%"  border="0" cellspacing="0" cellpadding="0" class="body_table">
  <tr>
    <td><table width="100%"  border="0" cellspacing="0" cellpadding="0" class="mem_tb">
      <tr>
        <td width="218" valign="top" class="mem_td"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="30" bgcolor="EAF3FB" style="text-indent:1em;">{#lanMemberMenu#}</td>
          </tr>
          <tr>
            <td><table width="98%" height=120 border=0 align=center cellpadding=2 cellspacing=2>
                <tbody>
                  <tr>
                    <td valign=top>{#modMemberMenu#}</td>
                  </tr>
                </tbody>
            </table></td>
          </tr>
        </table></td>
        <td width="762" valign="top"><table height=26 cellspacing=0 cellpadding=0 width="100%" align=center border=0>
          <tbody>
            <tr>
              <td class=nav>{#lanLocat#}:<a class=nav href="../../">{#SiteName#}</a> &gt; {#lanMemberCenter#}</td>
            </tr>
          </tbody>
        </table>
          <TABLE height=200 cellSpacing=5 cellPadding=0 width="100%" border=0>
            <TBODY>
              <TR>
                <TD vAlign=top height=207><BR>
                    <TABLE cellSpacing=0 cellPadding=0 width="90%" align=center border=0>
                      <TBODY>
                        <TR>
                          <TD width=120>
                            <TABLE    cellSpacing=0 cellPadding=0 width=80 height=23 border=0>
                              <TBODY>
                                <TR align="center">
                                  <TD class="tablemenu">{#lanMemberInfo#}</TD>
                                </TR>
                              </TBODY>
                          </TABLE></TD>
                          <TD align=right>&nbsp;</TD>
                        </TR>
                      </TBODY>
                    </TABLE>
                    <TABLE class="table" cellSpacing=1 cellPadding=1 width="90%" align=center border=0>
                      <TBODY>
                        <TR>
                          <TD align=right width=90 class="memberinfo">{#lanMemberUser#}:</TD>
                          <TD class="memberinfo">{#MemberUser#}</TD>
                          <TD align=right width=90  class="memberinfo">{#lanMemberName#}:</TD>
                          <TD class="memberinfo">{#MemberName#}</TD>
                        </TR>
                        <TR>
                          <TD align=right width=90  class="memberinfo">{#lanRegTime#}:</TD>
                          <TD  class="memberinfo">{#MemberRegtime#}</TD>
                          <TD align=right width=90 class="memberinfo">{#lanRegIp#}:</TD>
                          <TD  class="memberinfo">{#MemberIp#}</TD>
                        </TR>
                        <TR>
                          <TD align=right width=90  class="memberinfo">{#lanExpTime#}:</TD>
                          <TD  class="memberinfo">{#MemberExptime#}</TD>
                          <TD align=right width=90  class="memberinfo">{#lanLastLogin#}:</TD>
                          <TD  class="memberinfo">{#MemberLogintime#}</TD>
                        </TR>
                        <TR>
                          <TD align=right width=90  class="memberinfo">{#lanLoginNum#}:</TD>
                          <TD  class="memberinfo">{#MemberLogincount#}</TD>
                          <TD align=right width=90  class="memberinfo">{#lanLoginIp#}:</TD>
                          <TD  class="memberinfo">{#MemberLoginip#}</TD>
                        </TR>
                      </TBODY>
                    </TABLE>
                    <BR>
                    <TABLE cellSpacing=0 cellPadding=0 width="90%" align=center border=0>
                      <TBODY>
                        <TR>
                          <TD width=120>
                            <TABLE class=caidan height=23 cellSpacing=0 cellPadding=0 width=80 border=0>
                              <TBODY>
                                <TR align="center">
                                  <TD class="tablemenu">{#lanMemberNews#}</TD>
                                </TR>
                              </TBODY>
                          </TABLE></TD>
                          <TD style="FONT-SIZE: 12px" align=right>&nbsp;</TD>
                        </TR>
                      </TBODY>
                    </TABLE>
                    <TABLE class="table" cellSpacing=1 cellPadding=1 width="90%" align=center border=0>
                      <TBODY>
                        <TR vAlign=top>
                          <TD height=61>
                            <TABLE cellSpacing=12 cellPadding=1 width="100%" border=0>
                              <TBODY>
                                <TR vAlign=top>
                                  <TD height=43>{#modMemberNotice#}</TD>
                                </TR>
                              </TBODY>
                          </TABLE></TD>
                        </TR>
                      </TBODY>
                  </TABLE></TD>
              </TR>
            </TBODY>
          </TABLE></td>
      </tr>
    </table></td>
  </tr>
</table></div>
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td><div align="center">
        <table width="980" border="0" cellspacing="0" cellpadding="0" id="tab_2">
          <tr>
            <td><div align="center">{#modBottomMenu#}</div></td>
          </tr>
        </table>
    </div></td>
  </tr>
  <tr>
    <td><div align="center">
        <table width="980" border="0" cellspacing="0" cellpadding="5">
          <tr>
            <td><div align="center"><font color="#333333">{#modButtomInfo#}</font></div></td>
          </tr>
          <tr>
            <td><div align="center"><font color="#000000">{#modShowCount#}</font></div></td>
          </tr>
        </table>
    </div></td>
  </tr>
</table>
