<!-start-> 
<table width="100%" border="0" cellspacing="1" cellpadding="2">
  <tr> 
    <td width="80" align="center" class="downpropname">{#lanFileName#}:</td>
    <td class="downprop">{#title#}</td>
  </tr>
  <tr> 
    <td width="80" align="center" class="downpropname">{#lanFileSize#}:</td>
    <td class="downprop">{#filesize#}</td>
  </tr>
  <tr> 
    <td width="80" align="center" class="downpropname">{#lanFileType#}:</td>
    <td class="downprop">{#type#}</td>
  </tr>
  <tr> 
    <td width="80" align="center" class="downpropname">{#lanFileUptime#}:</td>
    <td class="downprop">{#dtime#}</td>
  </tr>
  <tr> 
    <td width="80" align="center" class="downpropname">{#lanUpdateTime#}:</td>
    <td class="downprop">{#uptime#}</td>
  </tr>
  <tr> 
    <td width="80" align="center" class="downpropname">{#lanDownTimes#}:</td>
    <td class="downprop">{#cl#}</td>
  </tr>
  <!-start-> <!-list-> 
  <tr> 
    <td width="80" align="center" class="downpropname">{#propname#}:</td>
    <td class="downprop">{#prop#}</td>
  </tr>
  <!-list-> <!-end-> 
</table>
<!-end-> 