<!-start->
	
<table  border="0" cellspacing="1" cellpadding="2">
  <!-start-> <!-rowstart-> 
  <tr align="center">
<!-rowstart-> 

<!-menu-> 
    <td width="140" height="30" align=center> <!-text-> <div align="left"><a href="{#link#}" target="{#target#}" class="link2">{#linkstr#}</a> 
        <!-text-> 
      </div></td>
<!-menu->


<!-rowend-> 
</tr>
<!-rowend->  

<!-end->
</table>
<!-end->

<!-more->
<table border="0" cellspacing="0" cellpadding="0">
  <tr align="center"> 
    <td width="140"><a href="{#morelink#}" class="more">{#more#}</a></td>
  </tr>
  </table>
 <!-more->
