<!-start->
	
<table  border="0" cellspacing="1" cellpadding="2">
  <!-start-> <!-rowstart-> 
  <tr align="center">
<!-rowstart-> 

<!-menu-> 
    <td align=center width="100"> <!-text-> <a href="{#link#}" target="{#target#}" >{#linkstr#}</a> 
      <!-text-> </td>
<!-menu->


<!-rowend-> 
</tr>
<!-rowend->  

<!-end->
</table>
<!-end->

<!-more->
<table border="0" cellspacing="0" cellpadding="0">
  <tr align="center"> 
    <td width="100"><a href="{#morelink#}" class="more">{#more#}</a></td>
    </tr>
  </table>
 <!-more->
