<!-start->
<table border="0" cellspacing="0" cellpadding="0" >
<!-start->

<!-rowstart-> 
<tr>
<!-rowstart-> 

<!-menu->
<td class="btmenu2"  style="padding-left:8px;padding-right:8px;" align=center nowrap >
<!-text->
<a href="{#menuurl#}" class="btmenu2" target="{#target#}">{#menu#}</a> 
<!-text->
</td>
<!-menu->

<!-menudivide->
<td style="color:#275C91">-</td>
<!-menudivide->

<!-blankdivide->
<td width=1></td>
<!-blankdivide->

<!-rowend-> 
  </tr>
<!-rowend-> 

<!-end-> 
</table>
<!-end-> 
