<!-start->
<table width="100%"  cellspacing="0"  cellpadding="0">
  <tr class="newsquerytitle"> 
    <td height="25" style="padding-left:5px">{#lanTitle#}</td>
    <td align=center height="25">{#lanPubTime#}</td>
  </tr>
<!-start->
<!-rowstart->
<tr class=list>
<!-rowstart->

<!-list-> 
<td class="newsquery"  style="padding-left:5px"><a href="{#link#}" class="newsquery" target="{#target#}" {#bold#} {#red#} ><li>{#title#}</a></td>
<td  class="newsquerytime" align=center {#bold#}{#red#}>{#dtime#}</td>



<!-list->

<!-rowend->
</tr>
<!-rowend->

<!-end->
</table>
<!-end->