<!-start->
<table width="100%"  cellspacing="0"  cellpadding="0">
  <tr class="newsquerytitle"> 
    <td height="26" style="padding-left:5px" class="Black_14">{#lanTitle#}</td>
    <td align=center height="26" class="Black_14">{#lanPubTime#}</td>
  </tr>
<!-start->
<!-rowstart->
<tr>
<!-rowstart->

<!-list-> 
<td class="newsquery2"  style="padding-left:5px"><a href="{#link#}" class="newsquery2" target="{#target#}" {#bold#} {#red#} ><li style=" list-style-type:none; list-style-image:url(images/dot.gif);">{#title#}</a></td>
<td  class="newsquerytime" align=center {#bold#}{#red#}>{#dtime#}</td>



<!-list->

<!-rowend->
</tr>
<!-rowend->

<!-end->
</table>
<!-end->