<!-start->
<table border=0 cellspacing=0 cellpadding=0 height=28>
  <!-start-> <!-rowstart-> 
  <tr>
<!-rowstart-> 
<!-menunow-> 
    
    <td align='center'   >
	<div class="menunow" style="width:100%;height:100%;">
	<a href="{#menuurl#}" class=menunow target="{#target#}">{#menu#}</a></div>
	</td>
   
<!-menunow->
	
<!-menudivide-> 
    <td width=5></td>
<!-menudivide->

<!-blankdivide->
<td width=5 ></td>
<!-blankdivide->


	<!-menu->
		<td align='center'  >
		<!-text->
			<div class="menu" style="width:100%;height:100%">
			<a href="{#menuurl#}"  class=menu target="{#target#}">{#menu#}</a>
			</div>
		<!-text->
	</td>

    <!-menu->
    

<!-rowend-> 
</tr>
<!-rowend-> 
<!-end-> 
</table>
<!-end->