<!-start->
<table border="0" cellspacing="0" cellpadding="0" >
<!-start->

<!-rowstart-> 
<tr>
<!-rowstart-> 

<!-menu->
<td class="smenu"  style="padding-left:8px;padding-right:8px;" align=center nowrap >
<!-text->
<a href="{#menuurl#}" class="smenu" target="{#target#}">{#menu#}</a> 
<!-text->
</td>
<!-menu->

<!-menudivide->
<td width=1><img src="images/split.gif" width="1" height="12"></td>
<!-menudivide->

<!-blankdivide->
<td width=1></td>
<!-blankdivide->

<!-rowend-> 
  </tr>
<!-rowend-> 

<!-end-> 
</table>
<!-end-> 
