<!-start->
<table width="100%" cellspacing="0"  cellpadding="3">
  <tr height=25 class="downquerytitle"> 
    <td>{#lanFileName#}</td>
    <td>{#lanFileSize#}</td>
    <td>{#lanUpdateTime#}</td>
    <td>{#lanDownTimes#}</td>
  </tr>
<!-start->
<!-rowstart->
<tr class=list>
<!-rowstart->

<!-list-> 

<td class="downquery"><a href="{#link#}"  target="{#target#}" class="downquery">{#title#}</a></td>
<td class="downquerytime">{#filesize#}</td>
<td class="downquerytime">{#uptime#}</td>
<td class="downquerytime">{#cl#}</td>

<!-list->


<!-rowend->
</tr>
<!-rowend->

<!-end->
</table>
<!-end->