<!-start->
<table border="0" cellspacing="3" cellpadding="0" align="center"  height="35" >
  <!-start-> <!-rowstart-> 
  <tr>
<!-rowstart-> 

<!-menunow->
    <td background="images/smenuv1.jpg" class="smenuv"  align=center nowrap width="160" height="35" > 
      <!-text-> <a href="{#menuurl#}" class="smenuv" target="{#target#}">{#menu#}</a> 
      <!-text-> </td>
<!-menunow->

<!-menu->
    <td background="images/smenuv2.jpg" class="smenuv"   align=center nowrap width="160" height="35" > 
      <!-text-> <a href="{#menuurl#}" class="smenuv" target="{#target#}">{#menu#}</a> 
      <!-text-> </td>
<!-menu->

<!-menudivide->

<!-menudivide->

<!-blankdivide->

<!-blankdivide->

<!-rowend-> 
  </tr>
<!-rowend-> 

<!-end-> 
</table>
<!-end-> 
