<!-start->
<table border=0 cellspacing=0 cellpadding=0 height=36>
  <!-start-> <!-rowstart-> 
  <tr>
<!-rowstart-> 
<!-menunow-> 
    
    <td width="100" align='center'>
	<div class="menunow" style="width:100px;height:100%;">
	<a href="{#menuurl#}" class=menunow target="{#target#}">{#menu#}</a></div>	</td>
   
<!-menunow->
	
<!-menudivide-> 
    <td width=5 background="images/menu_t1.gif"></td>
<!-menudivide->

<!-blankdivide->
<td width=5 ></td>
<!-blankdivide->


	<!-menu->
		<td width="100" align='center'>
		<!-text->
			<div class="menu" style="width:100px;height:100%;">
			<a href="{#menuurl#}"  class=menu target="{#target#}">{#menu#}</a>
			</div>
		<!-text->	</td>

    <!-menu->
    

<!-rowend-> 
</tr>
<!-rowend-> 
<!-end-> 
</table>
<!-end->