<!-start->
<table width="100%"  cellspacing="1"  cellpadding="1" class=bbstable>
  <tr class="bbsquerytitle">
    <td height="25" style="padding-left:10px" width="32">{#lanFace#}</td>
    <td height="25" style="padding-left:10px">{#lanTitle#}</td>
    <td height="25" width="50" align="center">{#lanAuthor#}</td>
    <td align=center height="25" width="39">{#lanBrowse#}</td>
    <td align=center height="25" width="39">{#lanAnswer#}</td>
    <td width="100" align="right" style="padding-right:10px">{#lanLastPub#}</td>
  </tr>
  <!-start-> <!-rowstart-> 
  <tr class=list>
   
    <!-rowstart-> <!-list-> 
     
    <td class="bbsquery" height="30" width="32" align="center"><img src="{#face#}"></td>
    <td class="bbsquery" height="30"><a href="{#link#}" class="bbsquery" target="{#target#}" style="padding-left:10px">{#title#}</a></td>
    <td  class="bbsquerytime" {#bold#}{#red#} height="30" align="center">{#author#}</td>
    <td  class="bbsquerytime" align=center {#bold#}{#red#} height="30">{#cl#}</td>
    <td  class="bbsquerytime" align=center {#bold#}{#red#} height="30">{#count#}</td>
    <td  class="bbsquerytime" {#bold#}{#red#} width="100" align="right" style="padding-right:10px">{#dtime#}<br>
      by {#lastname#} </td>
    <!-list-> <!-rowend-> </tr>
  <!-rowend-> <!-end-> 
</table>
<!-end->