<!-start->
	
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <!-start-> <!-rowstart-> 
  <tr align="center">
<!-rowstart-> 

<!-menu-> 
    <td align=center class="piclist">
		<!-text->
		  <div class="piclist"><a href="{#link#}" target="{#target#}" ><img src="{#src#}" {#smallw#} {#smallh#} border="0"></a></div>
			
		  <div class="pictitle"><a href="{#link#}" class="pictitle"  target="{#target#}">{#title#}</a></div>
		<!-text->
	</td>
<!-menu->


<!-rowend-> 
</tr>
<!-rowend->  

<!-end->
</table>
<!-end->

<!-more->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr align="right"> 
      <td><a href="{#morelink#}" class="more">{#more#}</a></td>
    </tr>
  </table>
 <!-more->
