<!-start->
<ul style="margin:0; padding:0;">
<!-start->
<!-list->
  <li style="width:135px;margin: 0;padding:1px 5px 1px 5px; border: 0;float:left; color:#1f3a87; line-height:150%; text-align:left; list-style-type:none;"><div style="white-space: nowrap">¡¤<a href="{#link#}" class="tList4" target="{#target#}" {#bold#} {#red#} >{#title#}</a></div></li>
<!-list->

<!-end->
</ul>
<!-end->

<!-more->
<table width="98%" border="0" cellspacing="0" cellpadding="0">
  <tr align="right"> 
      <td><a href="{#morelink#}" class="more">{#more#}</a></td>
    </tr>
  </table>
<!-more->
